{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="hero-unit" id="bigbanner">
			<div class="row">
				<div class="span5">
					<img src="../static/img/logo_banner.png">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
	<div class="span6">
		<div class="hero-unit">
			<h2>YOU NEED A ROCKSTAR?</h2></br>
			<img src="../static/img/questions.png"><br>
			<form>
				<input type="text" class="input-medium search-query">
				<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>
	<div class="span6">
		<div class="hero-unit">
			<h2>YOU ARE A ROCKSTAR?</h2></br>
			<img src="../static/img/solutions.png"><br>
			<form>
				<input type="text" class="span3" placeholder="Enter your E-mail to sign in...">
				<button type="submit" class="btn">Sign Up</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2>Examples</h2></br>
	</div>
</div>



<!-- Example row of columns -->

<div class="row">
	<div class="span4">
		<h2>TIM IS A ROCKSTAR</h2>
		<h4>Designer at Soundcloud</h4>
		<p>Tim loves to build his startup. He worked in the Bay Area. And knows a lot about VC. Tim need help to design cool thinks. And loves to meet you as his rockstar designer.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>CHRIS IS A ROCKSTAR</h2>
		<h4>CEO at ebay</h4>
		<p>Chris loves his new webstore. He is a great marketer. Works day and night for his costumers. Chris need advise in legal stuff. Be his rockstar laywer for a few hours. </p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>TOM IS A ROCKSTAR</h2>
		<h4>COO at instagram</h4>
		<p>Tom loves to make the world know. And to promote mobile stuff. He knows whats the next big thing. But now he need the best dev on earth - to make some hot shit.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
</div>
{% endblock content %}