{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
var rotatingTextElement;
var rotatingText = new Array();
var ctr = 0;

function initRotateText() {
	rotatingTextElement = document.getElementById("switch");
	rotatingText[0] = rotatingTextElement.innerHTML; 
	rotatingText[1] = "@johnk I just shot my self <br>in the foot with git, Help!";
	rotatingText[2] = "@kevink Got techcrunched! Need <br>a sysadmin and servers, quick!";
	rotatingText[3] = "<img src='../static/img/skillfinder_1024.png' width='75%'>";
	setInterval(rotateText, 2500);
}
function rotateText() {
	ctr++;
	if(ctr >= rotatingText.length) {
		ctr = 0;
	}
	rotatingTextElement.innerHTML = rotatingText[ctr];
}
window.onload = initRotateText;
</script>

<link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>

<div class="row">
	<div class="span12">
		<div class="hero-unit" id="bigbanner">
			<div class="row">
				<div class="span10">
					<div style="height: 125px;">
						<!-- ><img src="../static/img/logo_banner.png" width="50%"> -->
						<h1><span id="switch">@solala Can anyone help us <br>with the founder agreement?</span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
	<div class="span6">
		<div class="hero-unit" id="question" align="middle">
			<h2>NEED HELP?<br>POST YOUR STARTUP PROBLEM!</h2>
			</br></br></br></br><br></br></br></br></br></br></br>

			<a href='listing/add/'>
				{% if user.is_authenticated %}
					<img src="{{ STATIC_URL }}img/post_a_problem_btn.png">
				{% else %}
					<img src="{{ STATIC_URL }}img/linkedin.png">
				{% endif %}
			</a>
		</div>
	</div>
	<div class="span6">
		<div class="hero-unit" id="solution" align="middle">
			<h2>YOU ARE AWESOME! <br>HELP A STARTUP!</h2>
			</br></br></br></br><br></br></br></br></br></br></br>
			<a href='listing/'>
				{% if user.is_authenticated %}
					<img src="../static/img/offer_your_help_btn.png">
				{% else %}
					<img src="{{ STATIC_URL }}img/linkedin.png">
				{% endif %}
			</a>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="span12">
		<h1 style="font-family: 'Allerta', sans-serif;">OUR MISSION</h1>
		<br>
		<blockquote>
		<h1 style="font-family: 'Allerta', sans-serif;">We help <span style="color: #f05501;">startups</span> that need very specific skills for a short amount of time so the job can be done as a <span style="color: #089644;">favor</span>.</h1></br>
		</blockquote>
	</div>
</div>
<br><br><br>



<!-- Example row of columns -->
<div class="row">
	<div class="span12">
		<h1 style="font-family: 'Allerta', sans-serif;">PARTNERS</br>
	</div>
</div>
<br>
<div class="row">
	<div class="span4" style="height: 100px;">
		<img src="../static/img/SW.png" width="300px">
	</div>
	<div class="span4">
		<img src="../static/img/Deskwanted.png" width="300px">
	</div>
	<div class="span4">
		<p>Built with</p>
		<img src="../static/img/django.png" width="200px">
	</div>
</div>
<br><br>
{% endblock content %}