{% extends "base.html" %}

{% block content %}
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="row">
	<div class="btn-group results-types">
		<button class="btn active" href="/listing" ><h3>Problems ({{ problems_count }})</h3></button>
		<a class="btn" href="/listing/people"> <h3>  Persons ({{ persons_count }}) </h3></a>
	</div>
</div>
{% for problem in problems %}
	<div class="row well task-list-item">
		<div class="span9">
			<h3>
				{{ problem.title }}
			</h3>
			<div class="tag-list">
				{% for skill in problem.skills.all %}
					<span class="label label-success">{{ skill.name }}</span>
				{% endfor %}
			</div>
			<p>
				added by
				<a href="{% url accounts_profile_show problem.user.id %}">
					{{ problem.user.get_full_name }}
				</a>
				{% if problem.company %}
					from
					<a>
						{{ problem.company }}
					</a>
				{% endif %}
			</p>
			<p>
				{{ problem.description }}
			</p>
		</div>
		<div class="span2">
			<a class="btn btn-large btn-danger" id="btn{{forloop.counter}}">
				Do it!
			</a>
		</div>
	</div>
{% endfor %}
<hr>
<a class="btn" data-toggle="modal" href="add">
	Submit Problem
</a>
{% endblock content %}
