{% extends "base.html" %}

{% block content %}
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div class="container">
      <div class="row">
        <div class="btn-group results-types">
          <button class="btn active"><h3>Offers (38)</h3></button>
          <button class="btn"><h3>Requests (14)</h3></button>
          <button class="btn"><h3>Persons (214)</h3></button>
        </div>
      </div>

{% for problem in problems %}
      <div class="row well task-list-item">
        <div class="span9">
          <h3>{{ problem.title }}</h3>
          <div class="tag-list">
            {% for skill in problems.skills %}
              <span class="label label-success">{{ skill.name }}</span>
            {% endfor %}
          </div>
          <p><a>{{ problem.user.name }}</a> from <a>{{
            problem.user.company }}</a></p>
          <p>{{ problem.description }}</p>
        </div>
        <div class="span2">
          <a class="btn btn-large btn-success">Do it!</a>
        </div>
      </div>
 {{ problem }}
{% endfor %}

      <hr>
      <a class="btn" data-toggle="modal" href="#task-input-modal">
        Add Task
      </a>

      <div class="modal" id="task-input-modal">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">x</button>
          <h3>Add a task</h3>
        </div>
        <div class="modal-body">
          <form method="post">
            <label class="radio inline">
              <input type="radio" name="task-type" value="offer" checked>
                Offer
            </label>
            <label class="radio inline">
              <input type="radio" name="task-type" value="request" checked>
                Request
            </label>
            <input class="span5" type="text" placeholder="Title of Task">
            <input class="span5" type="text" placeholder="Related Skills">
            <textarea class="span5" rows="5" type="text"
              placeholder="Describe the task"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>
      </p>
    </div> <!-- /container -->

{% endblock content %}
