{% extends "base.html" %}

{% block content %}
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div class="container">
      <div class="row">
        <div class="btn-group results-types">
          <button class="btn active"><h3>Offers (38)</h3></button>
          <button class="btn"><h3>Requests (14)</h3></button>
          <button class="btn"><h3>Persons (214)</h3></button>
        </div>
      </div>

{% for problem in problems %}
      <div class="row well task-list-item">
        <div class="span9">
          <h3>{{ problem.title }}</h3>
          <div class="tag-list">
            {% for skill in problems.skills %}
              <span class="label label-success">{{ skill.name }}</span>
            {% endfor %}
          </div>
          <p><a>{{ problem.user.name }}</a> from <a>{{
            problem.user.company }}</a></p>
          <p>{{ problem.description }}</p>
        </div>
        <div class="span2">
          <a class="btn btn-large btn-success">Do it!</a>
        </div>
      </div>
 {{ problem }}
{% endfor %}

      <hr>
      <a class="btn" data-toggle="modal" href="#task-input-modal">
        Add Task
      </a>


      <footer>
        <p>&copy; Company 2012</p>
      </footer>
      </p>
    </div> <!-- /container -->

{% endblock content %}
