{% extends "banner_base.html" %}


{% block head_title %} Welcome {% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>Welcome on Our Site</h1>
    <p>

        <b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a>
        project intended to provide a starting point for websites. By
        integrating numerous reusable Django apps to take care of the
        things that many sites have in common, it lets you focus on what
        makes your site different.
    </p>
    
    <h2>About Basic Project</h2>
    <p>
        This project takes the account_project and adds profiles and notifications.
        It is a foundation suitable for many sites that have user accounts with
        profiles.
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?</p>
    {% else %}

        <p class="what_next">Can you Fucking <a href="{{ what_next_url }}" class="btn primary large">LOGIN</a>!!!</p>


    {% endif %}
{% endblock %}
